<app-navbar></app-navbar>
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('assets/files/new-background.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  .grad {
    background-image: linear-gradient(to bottom right, rgba(32, 168, 168, 0.8), rgba(219, 231, 237, 0.8));
    padding: 20px;
    border-radius: 10px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card {
    max-width: 500px;
    width: 100%;
  }

  .card-body {
    text-align: center;
    padding: 40px 20px;
  }

  .input-group-text {
    background-color: transparent;
    border: none;
  }

  .btn-success {
    width: 100%;
  }

  .form-group {
    margin-bottom: 20px;
  }

  h1, p {
    margin-bottom: 20px;
  }

  .alert {
    margin-bottom: 20px;
  }
</style>

<div class="container">
  <div class="card">
    <div class="card-body shadow-lg grad">
      <h1 class="text-primary font-weight-bold">{{ 'Verify The OTP' | translate }}</h1>
      <p>Please enter the OTP sent to your email to verify your identity.</p>

      <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ form.message }}
      </div>

      <div *ngIf="!form.error && form.message === 'Password has been sent to email id'" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ form.message }}
      </div>

      <form #loginForm="ngForm">
        <div class="form-group">
          <label for="otp" class="font-weight-bold">{{ ' OTP ' }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-lock grey-text"></i></div>
            </div>
            <input type="number" id="otp" name="otp" [(ngModel)]="form.otp" class="form-control" appMaxLengthNumber="4"
              placeholder="{{ 'Enter OTP here' | translate }}">
          </div>
        </div>

        <button (click)="submit()" class="btn btn-success">
          {{ 'Verify OTP' }}
        </button>
        <div class="pl-3 pt-2">
          <a class="btn btn-warning" [routerLink]="['/forgotpassword']">{{'Forgot Password' | translate}}</a>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
