<app-navbar></app-navbar>

<style>
    .error {
        color: red;
        font-weight: bold;
    }

    .success {
        color: green;
        font-weight: bold;
    }
</style>

<div align="center">

    <h1 align="center" style="color: navy;">UserList</h1>

    <table style="width: 30%;">
        <tr>
            <td> <input type="text" name="firstName" [(ngModel)]="form.searchParams.firstName"
                    placeholder="Enter FirstName" /></td>
            <td> <input type="date" name="dob" [(ngModel)]="form.searchParams.dob" placeholder="Enter DATE" /> </td>

            <td>
                <select name="roleId" [(ngModel)]="form.searchParams.roleId">
                    <option value="undefiend">{{'----select--------'}}</option>
                    <option *ngFor="let obj of form.preload" [value]="obj.key">{{obj.value}}</option>
                </select>

            </td>

            <td>
                <button (click)="submit()">Search</button>
            </td>
        </tr>
    </table>
    <br>

    <table border="1" style="width: 100%; border: groove;">
        <tr align="center">
            <th><input type="checkbox" (click)="checkUncheckAll($event)"   [(ngModel)]="isMastersel" name="list_name" />Select All</th>
            <th style="text-align: center;">S.No.</th>
            <th style="text-align: center;">Image</th>
            <th style="text-align: center;">FirstName</th>
            <th style="text-align: center;">LastName</th>
            <th style="text-align: center;">LoginId</th>
            <th style="text-align: center;">Password</th>
            <th style="text-align: center;">Role</th>
            <th style="text-align: center;">dob</th>
            <th style="text-align: center;">Edit</th>
        </tr>


        <tr *ngFor="let m of form.list let i= index ">
            <td style="text-align: center;">
                <input type="checkbox" #checkboxes (change)="checklistUpdate()"  id="{{m.id}}" value="{{isMastersel}}" name="ids" />
            </td>


            <td style="text-align: center;">{{(pageNo * 5)+i+1}} </td>


            <td>
                <div *ngIf="m.imageId">
                    <img src="http://localhost:8080/User/profilePic/{{m.id}}" height="55px" width="80px">
                </div>

                <div *ngIf="! m.imageId">
                    <img src="../../assets/files/hanuman.jpg" height="55px" width="80px">
                </div>
            </td>

            <td style="text-align: center;">{{m.firstName}} </td>
            <td style="text-align: center;">{{m.lastName}}</td>
            <td style="text-align: center;">{{m.loginId}}</td>
            <td style="text-align: center;">{{m.password}}</td>
            <td style="text-align: center;">{{m.roleName}}</td>
            <td style="text-align: center;">{{m.dob | date:' dd-MM-yyyy '}}</td>

            <td style="text-align: center;">
                <a (click)="edit( '/user/' +m.id)">edit</a>
            </td>
        </tr>

    </table>

    <table style="width: 100%;">
        <tr>
            <td  style="width: 25%;"> <button [disabled]="form.pageNo==0" (click)="previous()">previous</button> </td>

            <td align="center" style="width: 25%;"><button (click)="add();">ADD</button></td>
            <td align="center" style="width: 25%;"><button (click)="deleteManey()">Delete</button></td>

            <td style="width: 25%;" align="right"><button [disabled]="nextList==0"  (click)="next()">Next</button></td>
        </tr>

    </table>


</div>

<app-footer></app-footer>