<app-navbar></app-navbar>
<!--  Note->1. jab bhi kisi veiw pr hit karoge phle uske ts(controler pr aayega )use backend pr jayega jo agr data lana hoga to and then backend 
          se return TS pr aayega and html pr jayega.
      2. like project 0 me preloead ke liye phle ctl pr jata tha then veiw pr aata .
      3. Ts pr aayega ->ngonInit methode run karayega backend api hit and then return Ts and go html


EDIT->firt like pr click to phle user ke Ts ko hit karega Id ke sath->then Id get ->go backend->get data and come to the ->User Ts->and html  -->
<p>user works!</p>
